.header{
    position: sticky;
    top: 0;
    padding: 1rem 0;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 1rem #7979791a;
    z-index: 100;
}

.headerContainer{
    direction: rtl;
}

.signMenu i{
    margin: 0 1rem;
    font-size: 1.5rem;
}

