.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #d60644;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease;
}

.discount:hover {
    background-color: #b80037;
    transition: all .2s ease;
}
