.dropDownMenuItem {
    transition: .5s all ease;
    margin-top: 8px;
    right: 0px!important;
}

.menuContainer {
    height: 100%;
    margin-left: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}

.menuContainer:hover  .menuTitle {
    color: #c40538;
    transition: all .2s ease;
}

.menuTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuTitle p {
    margin-left: .7rem!important;
}

.menuTitle svg{
    color: rgb(207, 207, 207);
}

.menuDropDownList {
    position: absolute;
    opacity: 0;
    top: 100%;
    background-color: rgb(255, 255, 255);
    width: 250%;
    height: auto;
    transition: all .3s ease;
}

.menuContainer:hover .menuDropDownList{
    opacity: 1!important;
    transition: all .3s ease;
}
