.dropDownMenuItem {
    transition: .5s all ease;
    margin-top: 8px;
    right: 0px!important;
}

.menuContainer {
    height: 100%;
    margin-left: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}

.menuTitle:hover {
    color: #c40538;
    transition: all .2s ease;
}

.menuTitle p {
    margin-left: .7rem!important;
}

.menuDropDownList {
    position: absolute;
    top: 2.6rem;
    background-color: rgb(255, 255, 255);
    width: 200%;
    height: auto;
}