.BeautyMagazineItem {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px rgb(0 0 0 / 12%);
  margin-bottom: 2rem;
  transition: all 0.4s ease;
}

.BeautyMagazineItem:hover {
  box-shadow: 0 0 9px rgb(0 0 0 / 20%) !important;
  transition: all 0.4s ease;
}

.BeautyMagazineItem:hover .image img {
  transform: scale(1.08, 1.08);
  transition: all 0.3s ease;
}

.image {
  transition: all 0.5s ease;
}

.BeautyMagazineItem .image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.642);
  opacity: 0;
  transition: all 0.5s ease;
  transform: scale(1.08, 1.08);
}

.BeautyMagazineItem:hover .image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.642);
  opacity: 1;
  transition: all 0.5s ease;
  transform: scale(1.08, 1.08);
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.dot {
  width: 0.7rem;
  height: 0.7rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: -10%;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.BeautyMagazineItem:hover .dot {
  transition: all .7s ease;
}

.BeautyMagazineItem:hover .dot1 {
  transform: translateX(5rem);
  right: 76%;
  opacity: 1;
}

.BeautyMagazineItem:hover .dot2 {
  transform: translateX(5rem);
  right: 72%;
  transition-delay: 0.1s;
  opacity: 1;
}

.BeautyMagazineItem:hover .dot3 {
  transform: translateX(5rem);
  right: 68%;
  transition-delay: 0.2s;
  opacity: 1;
}

.BeautyMagazineItemContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.imageContainer {
  position: relative;
}

.image img {
  transition: all 0.3s ease;
}

.imageDate,
.imageBadge {
  position: absolute;
}

.imageDate {
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.imageBadge {
  bottom: 0;
  width: 100%;
}

.imageBadge span {
  background-color: red;
  padding: 0.3rem 0.8rem;
  color: #fff;
  font-size: 0.9rem;
}

.contentTitle {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.contentShare {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentShare div {
  cursor: pointer;
}

.contentText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 1rem;
  padding: 0 4rem;
  overflow-y: auto;
}

.contentText span {
  overflow-y: auto;
  width: 100%;
}

.moreContent {
  margin-bottom: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .contentText {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 767.9px) {
  .contentTitle {
    font-size: 1.3rem;
  }
  .contentText {
    padding: 0;
  }
}

@media only screen and (max-width: 576.9px) {
  .contentTitle {
    font-size: 1rem;
  }
  .contentText {
    padding: 0;
  }
  .imageDate {
    font-size: 0.6rem;
  }
}
