.sliderMenu{
    width: 100%;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.231);
    display: flex;
    justify-content: start;
    direction: rtl;
    top: 0;
    right: 0;
    min-height: 100%;
    height: auto;
    padding: 0;
}

.productSearching{
    width: 100%;
    min-height: 8%;
    max-height: 15%;
    background-color: #fff;
}

.productSearching input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.iconContainer{
    padding: 0;
    margin: 0;
}

.productSearching i{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.sliderContainer{
    width: 100%;
}

.tabsContent{
    width: 100%;
    height: 100%;
    padding: 0;
}

.tabsAndContent{
    width: 100%;
    height: 100%;
}

.offCancvasStyle{
    width: 10%;
}