.mainLayout {}

.mainSpecialOffers {
    background-color: #EF394E;
    width: 100%;
    height: auto;
    direction: rtl;
}


/* =================== speical offers =================== */

.specialOffersContainer {
    /* height: 100%; */
    overflow-x: scroll;
}
