.main{
    background-color: #f6f6f6;
}

.mainSpecialOffers {
    background-color: #EF394E;
    width: 100%;
    height: auto;
    direction: rtl;
}


/* =================== speical offers =================== */

.specialOffersContainer {
    /* height: 100%; */
    overflow-x: scroll;
}


/* =================== gift =================== */
.gift{
    margin: 2rem 0;
    /* background-color: blue; */
    height: 25rem;
    max-height: 25rem;
}