.main{
    background-color: #f6f6f6;
}

.mainSpecialOffers {
    background-color: #EF394E;
    width: 100%;
    height: auto;
    direction: rtl;
}



/* =================== gift =================== */
.dayOffers{
    margin: 1rem 0;
    /* background-color: blue; */
    height: 100%;
    max-height: 100%;
    direction: rtl;
}

.Products{
    margin: 3rem 0;
}

.mainSpecialSuperMarketOffers{
    background-color: #23A455;
    width: 100%;
    height: auto;
    direction: rtl;
}

.beautyMagazine{
    background-color: #fff;
}

.BestSellingProducts{
    
}

