.icon{
    font-size:1.7rem;
    font-weight: bolder;
    margin-left: .8rem;
}

.listTitle{
    font-size: 1rem;
    font-weight: 500;
}

.dropToggleIcon{
    margin-left: 1rem;
    font-weight: 900;
}

.dropDownList{
    position: absolute;
    top: 2.6rem;
    background-color: gray;
    width: 90%;
}