.StickyFooterItem{
    padding: 0;
    cursor: pointer;
}

.StickyFooterItem:active{
    background-color: red;
    color: #fff;
}

.StickyFooterItemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stickyFooterIcon i{
    font-size: 1.3rem;
}

.stickyFooterItem p{
    font-size: .7rem;
    font-weight: 400;
}

