.icon i {
    font-size: 1rem;
    font-weight: 900;
    color: black;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
    color: rgba(85, 85, 85, 0.966);
}

.shoppingItem:hover .shoppingItemContainer .text,
.shoppingItem:hover .shoppingItemContainer .icon i {
    color: rgba(52, 52, 52, 0.396);
}

@media only screen and (min-width: 1140px) {
    .icon i {
        font-size: 1.3rem!important;
    }
    .icon .text p{
        font-size: 1.5rem!important;
    }
  }