.mainSpecialTimerComponent {
    background-color: white;
    padding: .5rem;
    border-radius: .5rem;
    width: 100%!important;
    cursor: pointer;
}

.mainSpecialTimerComponent:hover .buy{
    opacity: 1;
    transition: all .5s ease;
}

.specialComponentText p {
    font-size: 1rem;
}

.timerItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timerItem .counter {
    font-size: 1.5rem;
}

.timerItem .format {
    font-size: .7rem;
    color: rgb(118, 118, 118);
}

.buy{
    position:absolute;
    background-color: white;
    width: 30%;
    height: 40%;
    top: 2rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    transition: all .5s ease;
    border-radius: 0 1rem 1rem 0;
}

.buy div i{
    font-size: 1.7rem;
}

.buy div:hover i{
    color: red;
    transition: all .2s ease-in-out;
}
